.carousel-item img{
margin: auto;
width: 95%;
height: 660px;
}

.card{
    background-color: rgb(255, 0, 0);
    display: inline-block;


}

.card2{
    background-color: rgb(0, 255, 128);
}

.container19 a{
    padding: 10px;
    background-color: rgb(255, 255, 255);
margin: auto;
}
.container19{
    padding: 10%;
    background-color: #1a2530;
    color: #1a2530;
margin: auto;
}
.body{
    width: 90%;
    margin: 50px;
    background-color: ;
}